<%= javascript_pack_tag("cards") %>
<header class="Main-header">
  <h1>New Card</h1>
</header>
<article class="Main-content">
  <%= form_for(@card) do |f| %>
    <%= f.field(:name) do |klass| %>
      <%= f.text_field(:name, class: klass) %>
    <% end %>
    <%= f.field(:text) do |klass| %>
      <%= f.text_field(:text, class: klass) %>
    <% end %>
    <%= f.image_field(:image, @card.image) %>
    <%= f.submit %>
  <% end %>
</article>
